html {
  font-family: 'Gotu', sans-serif;
}

header {
  background-image: linear-gradient(to right, #B1E0CA, #E3F4F6);
  height: 20vh;
}

h1 {
  margin-top: 0px;
}

main {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

aside {
  background-color: #EEEEEE;
  border: 2px solid grey;
  min-width: 100%;
}

nav {
  background-color: grey;
  display: flex;
  flex-direction: row;
  min-width: 80%;
}

#home-button,
#favorite-recipes-button,
#recipes-to-cook-button,
#all-recipes-button,
#cooked-recipes-button,
#shopping-list-button,
#search-recipes-input,
#search-pantry-input {
  border: 1px solid #000;
  border-radius: 3px;
  bottom: 10px;
  font-family: 'Gotu', sans-serif;
  font-size: 20px;
  margin: 5px;
  position: relative;
}

#home-button,
#favorite-recipes-button,
#recipes-to-cook-button,
#all-recipes-button,
#shopping-list-button,
#cooked-recipes-button {
  background-color: #EBF5EE;
  bottom: 80px;
  float: right;
  position: relative;
  width: 15%;
}

#home-button:hover,
#favorite-recipes-button:hover,
#recipes-to-cook-button:hover,
#all-recipes-button:hover,
#cooked-recipes-button:hover,
#shopping-list-button:hover,
#search-recipes-button:hover,
#pantry-search-button:hover {
  background-color: #747474;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

#search-recipes-input {
  bottom: 75px;
  float: right;
  position: relative;
  width: 40.5%;
}

#search-pantry-input {
  font-size: 18px;
  left: 18px;
  position: relative;
  width: 75%;
}

#recipes-container {
  column-width: 5em;
  columns: 2;
}

#search-recipes-button,
#pantry-search-button {
  font-family: 'Gotu', sans-serif;
  position: relative;
}

#search-recipes-button {
  bottom: 70px;
  float: right;
  font-size: 20px;
  left: 592px;
}

#pantry-search-button {
  bottom: 10px;
  font-size: 18px;
  left: 9px;
}

.search-icon {
  width: 22px;
}

.recipe-card {
  background-color: #EEEEEE;
  border: 2px solid grey;
  display: inline-block;
  margin: 25px;
  padding: 15px;
  width: 80%;
}

.recipe-image {
  align-self: center;
  margin: 15px;
  width: 50%;
}

.recipe-name {
  font-size: 23px;
  width: 70%;
}

.recipe-name-container {
  display: flex;
  flex-direction: row;
}

.favorite-recipe-button {
  align-self: center;
  margin: 5px;
}

.recipe-info {
  font-size: 13px;
}

.recipe-button {
  background-color: #EBF5EE;
  border-radius: 3px;
  font-family: 'Gotu', sans-serif;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
}

.recipe-button:hover {
  background-color: #747474;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

.recipe-buttons-container {
  display: flex;
  flex-direction: column;
}

#ingredients-container {
  display: flex;
  flex-direction: column;
  max-height: 100vw;
  overflow: scroll;
}

.ingredients-box {
  display: flex;
  flex-direction: row;
}

.pantry-header {
  text-align: center;
}

.ingredient-card {
  align-self: center;
  background-color: #EBF5EE;
  border: 2px solid grey;
  margin: 10px;
  padding: 7px;
  width: 80%;
}

.capitalize {
  text-transform: capitalize;
}

.button-active {
  background-color: yellow;
}

.hidden {
  display: none;
}
